
#treeView {
	/*
	-fx-border-style: solid solid solid solid;
	-fx-border-color: white white white white;
	-fx-border-width: 2;
	*/
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}